*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}
.limitador {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}
